<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
      <setting name="callSettersOnNulls" value="true"/>
  	</settings>
	<typeHandlers>
		<typeHandler javaType="boolean" jdbcType="VARCHAR"
			handler="com.fabaoframework.modules.mybatis.handler.YesNoTypeHandler" />
	</typeHandlers>
	<plugins>
		<!-- 指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,PostgreSQLDialect,MySQLDialect,DerbyDialect -->
		<plugin
			interceptor="com.fabaoframework.modules.mybatis.interceptor.OffsetLimitInterceptor">
			<property name="dialectClass"
				value="com.fabaoframework.modules.mybatis.dialect.MySQLDialect" />
		</plugin>
	</plugins>

<!-- 已经在spring-context中做了文件配置  
	<mappers>
		<mapper resource="mappings/base/SysUserMapper.xml" />
	</mappers>
-->
</configuration>
