<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.fabao.ledger.modules.sms.entity.SmsCityCode">
	<resultMap id="SmsCityCodeResult" type="com.fabao.ledger.modules.sms.entity.SmsCityCode">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="smsCityCodeColumns">
	    <![CDATA[
	        	id as id,
	        	num_province_id as numProvinceId,
	        	vac_city_name as vacCityName,
	        	vac_city_region as vacCityRegion,
	        	num_city_inter_id as numCityInterId,
	        	creator as creator,
	        	modifier as modifier,
	        	gmt_created as gmtCreated,
	        	gmt_modified as gmtModified,
	        	is_deleted as isDeleted
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.fabao.ledger.modules.sms.entity.SmsCityCode" 
			useGeneratedKeys="false" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        sms_city_code (
	        	num_province_id ,
	        	vac_city_name ,
	        	vac_city_region ,
	        	num_city_inter_id ,
	        	creator ,
	        	modifier ,
	        	gmt_created ,
	        	gmt_modified ,
	        	is_deleted 
	        ) VALUES (
	        	#{numProvinceId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{vacCityName,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{vacCityRegion,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{numCityInterId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{creator,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{modifier,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{gmtCreated,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{gmtModified,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{isDeleted,javaType=java.lang.Boolean,jdbcType=BIT} 
	        )
	    ]]>
			<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
				select LAST_INSERT_ID() as value  
		    </selectKey>
		</insert>
	    
		<update id="update" parameterType="com.fabao.ledger.modules.sms.entity.SmsCityCode">
	    <![CDATA[
	        UPDATE sms_city_code SET
		        num_province_id = #{numProvinceId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        vac_city_name = #{vacCityName,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        vac_city_region = #{vacCityRegion,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        num_city_inter_id = #{numCityInterId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        modifier = #{modifier,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        gmt_modified = #{gmtModified,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        is_deleted = #{isDeleted,javaType=java.lang.Boolean,jdbcType=BIT} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from sms_city_code where
		        id = #{id} 
	    ]]>
	    </delete>      
	    <select id="getById" parameterType="java.lang.Long" resultMap="SmsCityCodeResult" flushCache="false">
			select <include refid="smsCityCodeColumns" />
		    <![CDATA[
			    from sms_city_code 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="SmsCityCodeResult" flushCache="false">
			select <include refid="smsCityCodeColumns" />
			    from sms_city_code 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="smsCityCodeDynamicWhere">
		<!-- com.fabaoframework.modules.utils.Ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的com.fabaoframework.modules.utils.Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看com.fabaoframework.modules.utils.Ognl类 -->
		<where>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(numProvinceId)">
				and num_province_id = #{numProvinceId}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(vacCityName)">
				and vac_city_name = #{vacCityName}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(vacCityRegion)">
				and vac_city_region = #{vacCityRegion}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(numCityInterId)">
				and num_city_inter_id = #{numCityInterId}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(creator)">
				and creator = #{creator}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(modifier)">
				and modifier = #{modifier}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(gmtCreated)">
				and gmt_created = #{gmtCreated}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(gmtModified)">
				and gmt_modified = #{gmtModified}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(isDeleted)">
				and is_deleted = #{isDeleted}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="SmsCityCodeResult"  flushCache="false">
    	select <include refid="smsCityCodeColumns" />
	    from sms_city_code 

		<if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from sms_city_code 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from sms_city_code 
		<include refid="smsCityCodeDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="SmsCityCodeResult">
    	select <include refid="smsCityCodeColumns" />
	    from sms_city_code 
		<include refid="smsCityCodeDynamicWhere"/>
		<if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>
