<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.fabao.ledger.modules.sms.entity.SmsMobileArea">
	<resultMap id="SmsMobileAreaResult" type="com.fabao.ledger.modules.sms.entity.SmsMobileArea">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="smsMobileAreaColumns">
	    <![CDATA[
	        	id as id,
	        	num_operator_id as numOperatorId,
	        	num_province_id as numProvinceId,
	        	num_city_id as numCityId,
	        	vac_seg_start as vacSegStart,
	        	vac_seg_end as vacSegEnd,
	        	num_seg_type as numSegType,
	        	creator as creator,
	        	modifier as modifier,
	        	gmt_created as gmtCreated,
	        	gmt_modified as gmtModified,
	        	is_deleted as isDeleted
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.fabao.ledger.modules.sms.entity.SmsMobileArea" 
			useGeneratedKeys="false" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        sms_mobile_area (
	        	num_operator_id ,
	        	num_province_id ,
	        	num_city_id ,
	        	vac_seg_start ,
	        	vac_seg_end ,
	        	num_seg_type ,
	        	creator ,
	        	modifier ,
	        	gmt_created ,
	        	gmt_modified ,
	        	is_deleted 
	        ) VALUES (
	        	#{numOperatorId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{numProvinceId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{numCityId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{vacSegStart,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{vacSegEnd,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{numSegType,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{creator,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{modifier,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{gmtCreated,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{gmtModified,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{isDeleted,javaType=java.lang.Boolean,jdbcType=BIT} 
	        )
	    ]]>
			<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
				select LAST_INSERT_ID() as value  
		    </selectKey>
		</insert>
	    
		<update id="update" parameterType="com.fabao.ledger.modules.sms.entity.SmsMobileArea">
	    <![CDATA[
	        UPDATE sms_mobile_area SET
		        num_operator_id = #{numOperatorId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        num_province_id = #{numProvinceId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        num_city_id = #{numCityId,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        vac_seg_start = #{vacSegStart,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        vac_seg_end = #{vacSegEnd,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        num_seg_type = #{numSegType,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        modifier = #{modifier,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        gmt_modified = #{gmtModified,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        is_deleted = #{isDeleted,javaType=java.lang.Boolean,jdbcType=BIT} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from sms_mobile_area where
		        id = #{id} 
	    ]]>
	    </delete>      
	    <select id="getById" parameterType="java.lang.Long" resultMap="SmsMobileAreaResult" flushCache="false">
			select <include refid="smsMobileAreaColumns" />
		    <![CDATA[
			    from sms_mobile_area 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="SmsMobileAreaResult" flushCache="false">
			select <include refid="smsMobileAreaColumns" />
			    from sms_mobile_area 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="smsMobileAreaDynamicWhere">
		<!-- com.fabaoframework.modules.utils.Ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的com.fabaoframework.modules.utils.Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看com.fabaoframework.modules.utils.Ognl类 -->
		<where>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(numOperatorId)">
				and num_operator_id = #{numOperatorId}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(numProvinceId)">
				and num_province_id = #{numProvinceId}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(numCityId)">
				and num_city_id = #{numCityId}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(vacSegStart)">
				and vac_seg_start = #{vacSegStart}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(vacSegEnd)">
				and vac_seg_end = #{vacSegEnd}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(numSegType)">
				and num_seg_type = #{numSegType}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(creator)">
				and creator = #{creator}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(modifier)">
				and modifier = #{modifier}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(gmtCreated)">
				and gmt_created = #{gmtCreated}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(gmtModified)">
				and gmt_modified = #{gmtModified}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(isDeleted)">
				and is_deleted = #{isDeleted}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="SmsMobileAreaResult"  flushCache="false">
    	select <include refid="smsMobileAreaColumns" />
	    from sms_mobile_area 

		<if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from sms_mobile_area 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from sms_mobile_area 
		<include refid="smsMobileAreaDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="SmsMobileAreaResult">
    	select <include refid="smsMobileAreaColumns" />
	    from sms_mobile_area 
		<include refid="smsMobileAreaDynamicWhere"/>
		<if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>
