<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.fabao.ledger.modules.sys.entity.SysUser">
	<resultMap id="SysUserResult" type="com.fabao.ledger.modules.sys.entity.SysUser">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="sysUserColumns">
	    <![CDATA[
	        	id as id,
	        	realname as realname,
	        	username as username,
	        	password as password,
	        	user_type as userType,
	        	phone as phone,
	        	email as email,
	        	hw_num as hwNum,
	        	sex as sex,
	        	seats as seats,
	        	ingroup as ingroup,
	        	role as role,
	        	ext_num as extNum,
	        	last_login_time as lastLoginTime,
	        	creator as creator,
	        	modifier as modifier,
	        	gmt_created as gmtCreated,
	        	gmt_modified as gmtModified,
	        	is_deleted as isDeleted
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.fabao.ledger.modules.sys.entity.SysUser" 
			useGeneratedKeys="false" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        sys_user (
	        	realname ,
	        	username ,
	        	password ,
	        	user_type ,
	        	phone ,
	        	email ,
	        	hw_num ,
	        	sex ,
	        	seats ,
	        	ingroup ,
	        	role ,
	        	ext_num ,
	        	last_login_time ,
	        	creator ,
	        	modifier ,
	        	gmt_created ,
	        	gmt_modified ,
	        	is_deleted 
	        ) VALUES (
	        	#{realname,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{username,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{password,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{userType,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{phone,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{email,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{hwNum,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{sex,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{seats,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{ingroup,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{role,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{extNum,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{lastLoginTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{creator,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{modifier,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{gmtCreated,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{gmtModified,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{isDeleted,javaType=java.lang.Boolean,jdbcType=BIT} 
	        )
	    ]]>
			<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
				select LAST_INSERT_ID() as value  
		    </selectKey>
		</insert>
	    
		<update id="update" parameterType="com.fabao.ledger.modules.sys.entity.SysUser">
	    <![CDATA[
	        UPDATE sys_user SET
		        realname = #{realname,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        username = #{username,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        password = #{password,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        user_type = #{userType,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        phone = #{phone,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        email = #{email,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        hw_num = #{hwNum,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        sex = #{sex,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        seats = #{seats,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ingroup = #{ingroup,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        role = #{role,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ext_num = #{extNum,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        last_login_time = #{lastLoginTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        modifier = #{modifier,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        gmt_modified = #{gmtModified,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        is_deleted = #{isDeleted,javaType=java.lang.Boolean,jdbcType=BIT} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from sys_user where
		        id = #{id} 
	    ]]>
	    </delete>      
	    <select id="getById" parameterType="java.lang.Long" resultMap="SysUserResult" flushCache="false">
			select <include refid="sysUserColumns" />
		    <![CDATA[
			    from sys_user 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="SysUserResult" flushCache="false">
			select <include refid="sysUserColumns" />
			    from sys_user 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="sysUserDynamicWhere">
		<!-- com.fabaoframework.modules.utils.Ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的com.fabaoframework.modules.utils.Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看com.fabaoframework.modules.utils.Ognl类 -->
		<where>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(realname)">
				and realname like '%${realname}%'
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(username)">
				and username = #{username}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(password)">
				and password = #{password}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(userType)">
				and user_type = #{userType}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(phone)">
				and phone = #{phone}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(email)">
				and email = #{email}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(hwNum)">
				and hw_num = #{hwNum}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(sex)">
				and sex = #{sex}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(seats)">
				and seats = #{seats}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(ingroup)">
				and ingroup = #{ingroup}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(role)">
				and role = #{role}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(extNum)">
				and ext_num = #{extNum}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(lastLoginTime)">
				and last_login_time = #{lastLoginTime}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(creator)">
				and creator = #{creator}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(modifier)">
				and modifier = #{modifier}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(gmtCreated)">
				and gmt_created = #{gmtCreated}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(gmtModified)">
				and gmt_modified = #{gmtModified}
			</if>
	       <if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(isDeleted)">
				and is_deleted = #{isDeleted}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="SysUserResult"  flushCache="false">
    	select <include refid="sysUserColumns" />
	    from sys_user 

		<if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from sys_user 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from sys_user 
		<include refid="sysUserDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="SysUserResult">
    	select <include refid="sysUserColumns" />
	    from sys_user 
		<include refid="sysUserDynamicWhere"/>
		<if test="@com.fabaoframework.modules.utils.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

    <select id="getByUsername" resultMap="SysUserResult" parameterType="java.lang.String">
	    select <include refid="sysUserColumns"/>
	    <![CDATA[
	        from sys_user where username = #{username}
	    ]]>
    </select>
    
	
</mapper>
